
/*font-family: 'Montserrat', sans-serif;
font-family: 'Stalemate', cursive;
*/

:root 
{
    --light: #FFFFFF;
    --dark: #1E1E1E;
}


*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior:smooth;
}




body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.gallery
{
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.column
{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.column img
{
    width: 500px;
    max-width: 100%;
    max-height: 100%;
}

.header
{
    font-family: 'Stalemate', cursive;
    display: flex;
    column-gap: 20px;
    font-size: 10em;
}
.group
{
    padding: 5%;
}


.content
{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    max-width: 1000px;
    text-align: center;
}


/*NAVBAR*/
.navcon
{
    max-width: 1700px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 2em 2em;
}

.navcon
{
    color: var(--light);
    letter-spacing: 1px;
}


.hamburger
{
    display: block;
    position: relative;
    z-index: 1;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;

}

.hamburger span
{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: var(--light);
    border-radius: 6px;
    z-index: 1;
    transform-origin: 0 0;
    transition: 0.4s;
}

.hamburger:hover span:nth-child(2)
{
    transform: translateX(10px);
    background-color: var(--dark);
}

.hamburger.is-active span:nth-child(1)
{
    transform: translate(0px,-20px) rotate(45deg);
}

.hamburger.is-active span:nth-child(2)
{
    opacity: 0;
    transform: translateX(15px);
}
 
.hamburger.is-active span:nth-child(3)
{
    transform: translate(-4px,4px) rotate(-65deg);
}


.hamburger.is-active:hover span
{
    background-color: var(--dark);
}

.menu
{
    display: none;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 - 16px;
}

.menu a
{
    color: var(--light);
    font-size: 1em;
    text-decoration: none;
    transition: .4s;
    padding: 8px 16px ;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
}


.mobile-nav
{
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color:var(--dark);
    padding-top: 120px;
    transition: .4s;
}

.mobile-nav.is-active
{
    left: 0;
}


.mobile-nav a
{
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    background-color: var(--light);
    color: var(--dark);
    text-decoration: none;
}


.mobile-nav a:hover
{
    background-color: var(--dark);
}


.group
{
    display: grid;
    place-items: center;
}

.coverpic img
{
    max-width: 100%;
    max-height: 100%;
}



/*---------------------------------------------*/


/*CONTAINER1*/
.container1
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container1 img
{
    max-width: 100%;
    max-height: 100%;
}

#progress
{
    background-color:#1E1E1E;
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 70px;
    width: 70px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-decoration: none;
}

#progress-value
{
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: white;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: black;
    text-decoration: none;
}

/*--------------------------------------*/

.flexbox2
{    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    column-gap: 2em;

}

.text2
{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    font-weight: 300;
    text-align: justify;
}

.h2
{
    font-family: 'Stalemate', cursive;
    text-align: right;
    font-size: 10em;
}


/*--------------------------------------*/
.slidergrp
{
    display: grid;
    place-items: center;
}

.container3
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider
{
    width: 100%;
    height: 700px;
    overflow: hidden;
   
}

.slides
{
    width: 500%;
    height: 700px;
    display: flex;
    max-height: 100%;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 100%;
    height: 700px;
    max-height: 100%;
    object-fit:cover;
}

.navigation-manual
{
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}


.manual-btn
{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 100px;
}

.manual-btn:hover{
    background-color: white;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}




/*--------------------------------*/

.container4
{
    display: grid;
    place-items: center;
    padding-bottom: 1em;
}


.flexbox4
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1600px;
    column-gap: 50px;
}

.window4
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    width: 400px;
    row-gap: 10px;
    font-size: 1em;
}

.window4 img
{
    max-width: 100%;
    max-height: 100%;
}

.h4
{
    font-family: 'Stalemate', cursive;
    font-weight: 500;
    font-size: 4em;
}


/*-------------------------------------*/

.vidgrp
{
    display: flex;
    align-items: center;
    width: 100%;
}

.vid video
{
    max-width: 100%;
    max-height: 100%;
}

/*-----------------------------*/


.container6
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.flexbox6
{

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light);
    row-gap: 50px;
    flex-direction: column;
}

.window6_1
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:var(--dark);
    text-align: center;
    
}

.window6_2
{
    display: flex;
}

.window6_2 img
{
    width: 500px;
    max-width: 100%;
    max-height: 100%;
    
}



/*------------------------------*/

.flexbox7
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 50px;
}

.window7
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    text-align: center;

}
.h8
{
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
}

/*-------------------------------------*/

.flexbox9
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
}

.window10_1
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.text10_1
{
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 2em;
}




/*------------------------------*/

.flexbox12
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    row-gap: 50px;
}
.window12_1
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    max-width: 1000px;
}



/*-----------------------------------------*/
.flexbox13
{
    display: flex;
}

.container13
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
}

.flexbox13 img
{
    width: 500px;

    max-width: 100%;
    max-height: 100%;
}


.window13
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}




/*----------------------------*/


.window14_1
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 50px;
}

.text14
{
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: center;
    padding-bottom: 1em;
    max-width: 1000px;
}

.window14
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*------------------------------*/



.flexbox5
{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1400px;column-gap:50px;
}

.window5_1
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    column-gap: 10px;
    width: 50%;
}

.window5_2
{
    width: 50%;
    display: grid;
    place-items: center;
}
.window5_2 img
{
    width: 100%;
}


.text5
{
    font-size: 1.3em;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

.h5_1
{
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
}



hr
{
    width: 90%;
    margin: 0 auto;
    height: 3px;
    background-color:#1E1E1E;
}


.contactus a:visited
{
    color: black;
   
}

.contactus
{
    margin: 3em 0em 0em;
}
.contactus a
{
    
    text-decoration: none;
    padding: 1em 4em 1em;
    border: 2px solid #1E1E1E;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}









@media (min-width:1040px)
{
    .hamburger
    {
        display: none;
    }

    .menu
    {
        display: flex;
    }

}

@media (max-width:1040px)
{

    
    .navbar
    {
        position: fixed;
    }
    .hamburger
    {
        padding-top: 10em;
        display: block;
        position: fixed;
    }

    .hamburger span
    {
        border: 5px solid #1E1E1E;
    }
    .navcon img
    {
        width: 10%;
        padding: 0;

    }
    .hamburger span
    {
        width: 100px;
        height: 20px;
    }
    
    .mobile-nav
    {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        background-color:#1E1E1E;
        width: 100%;
    }

    .mobile-nav a
    {
        width: 100%;
        margin: 0;padding: .5em;
        font-size: 5em;
        width:100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        background-color: #1E1E1E;
        color: white;
    }

    #progress
    {
        bottom: 40px;
        right:40px;
        height: 150px;
        width:150px;
    }

    #progress-value
    {
        font-size: 80px;
    }
    .contactus a
    {
        font-size: 3em;
        color: #1E1E1E;
    }

    .contactus
    {
        margin-top: 5em;
        margin-bottom: 1em;
    }

    .content
    {
        font-size: 4em;
    }
    .group
    {
        padding: 10% 0% 10%;
    }


    
}

